@page
@model WebApplication.Pages.AboutModel
@{
    ViewData["Title"] = "О нас";
}

@section Canonical
{
    <link rel="canonical" href="https://belcukerkka.by/about" />
}

<div class="cs-container-sm">
    <div class="cs-info-block cs-font-primary cs-text-center">
        <h1 class="cs-text-center cs-admin-header cs-font-red cs-dashed cs-font-primary">О НАС</h1>
        <div class="cs-about-image"></div>
        <p>Компания Белцукерка специализируется на поставке новогодних сладких подарков для юридических и физических лиц по всей территории Республики Беларусь.</p>
        <p>На протяжении многих лет работы наша компания зарекомендовала себя как надежный и качественный поставщик.</p>
        <p>Каждый год мы стараемся не останавливаться на достигнутом и ставим для самих себя всё более сложные задачи.</p>
        <p>Мы осуществляем индивидуальный подход к каждому нашему клиенту, несмотря на объём заказа, бюджет или местонахождение.</p>
        <p>Каждый наш клиент является частью большой и дружной семьи.</p>
        <p class="cs-header-skipper cs-single-product-candies__title">С НАМИ НИ ОДИН УТРЕННИК НЕ ПОСТРАДАЛ!</p>
        <div class="cs-button-container">
            <a class="cs-btn cs-btn-primary cs-text-center" asp-page="/Catalog/Index">ПЕРЕЙТИ В КАТАЛОГ</a>
        </div>
    </div>
</div>