@page
@model WebApplication.Pages.MaintainModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Белцукерка</title>
    <link rel="stylesheet" href="~/css/belcukerka.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body style="margin: 0; background-image: none;">
    <div class="maintain-container">
        <div class="maintain-info">
            <img class="maintain-image" src="~/pdf-docs/images/logo_Belcukerka.png" alt="logo" />
            <p class="cs-font-primary cs-text-center cs-font-lg">На текущий момент на сайте проводятся технические работы. Пожалуйста, зайдите на сайт позже.</p>
        </div>
    </div>
</body>
</html>