@page
@model WebApplication.Pages.ShipmentModel
@{
    ViewData["Title"] = "Доставка и оплата";
}

@section Canonical
{
    <link rel="canonical" href="https://belcukerkka.by/shipment" />
}

<div class="cs-container-sm">
    <div class="cs-info-block cs-font-primary cs-text-center">
        <h1 class="cs-text-center cs-admin-header cs-font-red cs-dashed cs-font-primary">ДОСТАВКА И ОПЛАТА</h1>
        <div class="cs-info-grid">
            <div class="cs-info-grid__how-to-order">
                <p class="cs-header-skipper cs-single-product-candies__title">КАК СДЕЛАТЬ ЗАКАЗ?</p>
                <ul>
                    <li>Сделать заказ на нашем сайте</li>
                    <li>
                        Позвонить нам по одному из указанных номеров -
                        <br /><a href="#" class="cs-about-link">+375 (XX) XXX-XX-XX</a> (МТС)
                        <br /><a href="#" class="cs-about-link">+375 (29) XXX-XX-XX</a> (A1)
                    </li>
                    <li>Написать нам в мессенджер (Viber, Telegram)</li>
                    <li>Написать нам на электронную почту - <a href="mailto: dedmoroz@belcukerka.ru" class="cs-about-link">dedmoroz@belcukerka.ru</a></li>
                </ul>
            </div>
            <div class="cs-info-grid__order-details">
                <p class="cs-header-skipper cs-single-product-candies__title">ЧТО НУЖНО УКАЗАТЬ ПРИ ЗАКАЗЕ?</p>
                <ul>
                    <li>Название выбранного подарка и его вес</li>
                    <li>Состав новогоднего подарка</li>
                    <li>Количество подарков</li>
                    <li>Адрес доставки</li>
                    <li>Контактный номер телефона</li>
                    <li>Предпочтительная дата доставки</li>
                </ul>
                <p>После оформления заказа через сайт, наши менеджеры обрабатывают его в течение 30 минут и перезванивают для уточнения деталей заказа.</p>
            </div>
            <div class="cs-info-grid__payment">
                <p class="cs-header-skipper cs-single-product-candies__title">ОПЛАТА</p>
                <p>Минимальная сумма заказа 300 белорусских рублей.</p>
                <p>Оплата производится только безналичным путем на основании заключения договора.</p>
                <p>Отсрочка и рассрочка платежа обсуждается индивидуально с менеджером.</p>
            </div>
        </div>
        <div class="cs-info-grid">
            <div class="cs-info-grid__header">
                <p class="cs-header-skipper cs-single-product-candies__title">ДОСТАВКА</p>
            </div>
            <div class="cs-info-grid__shipment">
                <p>Бесплатная доставка по г. Минску при сумме заказа от 500 рублей.</p>
                <p>Бесплатная доставка по территории РБ при сумме заказа от 850 рублей.</p>
                <p>Стоимость доставки по г. Минску в пределах МКАД, а также район Уручье, д. Боровляны, Новая Боровая – 25 рублей.</p>
                <p>Стоимость доставки по территории РБ – в зависимости от суммы заказа, объема груза и удаленности – определяется индивидуально в каждом отдельном случае.</p>
            </div>
            <div class="cs-info-grid__shipment-details">
                <p>Выгрузка новогодних подарков из транспорта осуществляется силами заказчика. Доставка осуществляется до подъезда. Доставка в офисные помещения осуществляется только до входа в здание. При получении новогодних подарков заказчик обязан иметь при себе либо печать, либо доверенность на получение товара, а также документ, удостоверяющий личность. </p>
            </div>
        </div>
    </div>
</div>
